{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/IMG_4437.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1 style="text-shadow: 3px 3px #333333">About Me</h1>
          <h2  style="color: #a1d6bd; text-shadow: 2px 2px #34453d">I am a cockatiel.</h2>
          <span class="subheading">As you might imagine, I have a ghostwriter.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I love peanuts! There, I said it. I'm a bird, I eat nuts, all kinds of nuts.
          But the best are peanuts, and I go for the best.
        </p>
        <p>
          I was born in central Minnesota, and I came to live with my humans
          when I was eight weeks old. I could tell they weren't quite sure
          what they got (nor was I), but they soon came around to my kind of thinking.
          I began their training a couple of weeks after I got here, I had decided
          that patience was the better choice and I gave them a little time to
          adjust before launching into the vitally important Human Training Program (HTP).
          The HTP is a Bird-Certified program of the International Bird Coalition (IBC) that
          provides assurances that our humans are bird-rated and suitable for rearing
          and caring for pet birds.
        </p>
        <p>
          After a slow start my humans are coming around to the HTP approach, which includes freedom (of course!),
          but also oodles of toys, constant food, hugs and scratches, and, of course, the ever-present poop
          (Python Object-Oriented Programming). Freedom is essential for the positive development of humans.
          I let them wander about the house and yard as they wish. It's important to me for them to be happy
          and carefree as they develop into proper 'pet-owners', and to ensure they continue to believe they own a pet.
          I'm happy to report that my humans are responding well to the HTP (and that I remain in charge).
        </p>
        <p style="font-style: italic">Certified: International Bird Coalition</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
